body
{
    background-color: rgb(46, 0, 153);
    color: rgb(245, 248, 36);
    margin: auto;
    padding: 5em;
}
.title
{
    font-size: 3em;
    display: flex;
    justify-content: start;
    padding-left: 2em;
    font-family: Nunito;
}
p
{
    display: flex;
    justify-content:left;
    width:auto;
    padding: 1em;
    font-size: larger;
    font-family: nunito;
}