body
{
    background-color: rgb(46, 0, 153);
    text-align:center;
    font-family: sans-serif;
    color: rgb(245, 248, 36);
}
.title
{
    font-size: 3em;
    text-align: right;
    padding-right: 420px;
    padding-top: 30px;
}