body
{
    background-color: rgb(46, 0, 153);
    text-align:center;
    color: rgb(245, 248, 36);
}
.title
{
    font-size: 3em;
    display: flex;
    justify-content: start;
    padding: 1em;
    padding-left: 2em;
    font-family: Nunito;
}
